// Remove default margins and padding.

html,
body {
  padding: 0;
  margin: 0;
}


// Disable margin collapsing.
// Not the best solution, as might create scrollbars, instead of overflow: visible.
// Also, it may apply unexpectedly to third-party components not in iframes; yeesh.
// source: https://stackoverflow.com/a/19719427/1292652
// Update: You know, I’m coming to think margin collapsing may not be so bad after all...
// E.g., it helps me make sure there’s 6 units of space between an element and the previous one,
//  regardless of if the previous element had some (smaller) amount of margin space at its bottom.
// Commenting this section out for now.
//
//* {
//  overflow: auto;
//}


// CSS is dumb and doesn’t count padding in width by default.
// source: https://www.paulirish.com/2012/box-sizing-border-box-ftw/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
